@font-face{
  font-family: 'YunaSystem';
  src: local('Segoe UI');
}

html, body{ height:100%; }
body{
  margin:0;
  font-family: YunaSystem, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  background: #0b0620;
}

*{ box-sizing:border-box; }

#root{ height:100%; }

textarea{ font-family: inherit; }
button{ font-family: inherit; }

