.header{

    height:72px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 24px;

    border-bottom:1px solid rgba(255,255,255,.08);

    background:#121218;

}

.left{

    display:flex;

    align-items:center;

    gap:14px;

}

.center{

    color:#d1d5db;

    font-size:14px;

}

.settingsButton{

    color:white;

    background:#27272a;

    transition:.2s;

}

.settingsButton:hover{

    background:#7c3aed !important;

    color:white !important;

}